VULTR_API_KEY = "<YOUR_KEY>"
VULTR_INSTANCE_SSH_KEYS = ["<ONE_OR_MANY_KEY_UUIDS>"]
SUBNET = "<FIREWALL_AUTHORIZED_SUBNET>"
SUBNET_SIZE = 16
STARTUP_SCRIPT = "./scripts/startup.sh"
HOSTNAME = "prefix-username"
DOMAIN = "domain.com"